


<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/Dlsss/Dlsss.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://archive.org/download/dlss-22/Dlss22.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>science.xnu.undecimus</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>v1</string>
<key>title</key>
<string>DLS22 Hack📥
channel @ikurdish_store 🌐
kurdish-stor.tk</string>
</dict>
</dict>
</array>
</dict>
</plist>
